@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0px;
}

body {
    width: 100%;
    background: linear-gradient(90deg, #ffffff, #c9d6ff);
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background: linear-gradient(90deg, #ffffff, #c9d6ff);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}



#navbar li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px 20px;
}
#navbar li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #7494ec;
}


.btn {
     background: transparent;
     color: black;
     border: 1px solid black;
     padding: 8px 20px;
     border-radius: 20px;
     cursor: pointer;
     transition: 0.3s ease;
     font-weight: 600;
}

.btn:hover {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 20px ;
}


.impact-header {
    text-align: center;
    margin-bottom: 40px;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.stat-card {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.stat-card:hover {
    transform: translateY(-5px);
    border-bottom: 4px solid #7494ec;
}

.stat-card i {
    font-size: 40px;
    color: #7494ec;
    margin-bottom: 15px;
}

.stat-card h2 {
    font-size: 2.5rem;
    color: #333;
}

/* Progress Bar */
.goal-section {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.progress-wrapper {
    width: 100%;
    background: #eee;
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    background: linear-gradient(90deg, #7494ec, #00df9a);
    color: white;
    line-height: 30px;
    font-weight: bold;
    border-radius: 20px;
}