{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'todo/cart.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="header">
        <a href="#"><img src="{% static 'todoimages/logo.png'%}" class="logo" alt="resource loop logo" width="120px"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Store</a></li>
                <li><a href="sell.html">Donate/Sell</a></li>
                <li><a href="impact.html">Imapact</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <li><a href="login.html"><button class="btn">Login</button></a></li>
            </ul>
        </div>
    </section>
    <section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                <td><img src="{% static 'todo/https://images.unsplash.com/photo-1544947950-fa07a98d237f?w=100'%" alt=""></td>
                <td>Engineering Physics - Vol 1</td>
                <td>₹250</td>
                <td><input type="number" value="1"></td>
                <td>₹250</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>₹250</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>₹250</strong></td>
            </tr>
        </table>
        <button class="btn">Proceed to Exchange</button>
    </div>
</section>
</body>
</html>