<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESOURCE LOOP</title>
</head>
<body>
    <header class="global-header">
        <nav class="nav-left">
            <img src="resource-loop.png" alt="RESOURCE LOOP Logo" class="logo" height="40px">
            <p>RESOURCE LOOP</p>
        </nav>
        <nav class="nav-right">
            <ul>
                <li id="seller" ><a href="#">SELLER</a></li>
                <li id="cart"><a href="#">CART</a></li>
                <li id="profile"><a href="#">PROFILE</a></li>
            </ul>
        </nav>
    </header>
    <section class="sub-nav">
        <ul>
            <li id="search-bar"><form class="search-form"><input type="text" placeholder="Search store"></form></li>
            <li id="c1"><a href="#">c1</a></li>
            <li id="c2"><a href="#">c2</a></li>
            <li id="c3"><a href="#">c3</a></li>
        </ul>
    </section>
    <section class="sub-hero">
        <div class="sub-hero-content">
            <h1>Welcome to RESOURCE LOOP</h1>
            <p>Your one-stop shop for all your resource needs.</p>
            <button class="shop-now">Shop Now</button>
        </div>
    </section>
    <section class="hero-wrapper">
        <div class="card-container"> 
             <div class="category-header">
        <h2>Discover products you'll need <span class="arrow">></span></h2>
        <div class="nav-arrows">
            <button class="arrow-btn"><</button>
            <button class="arrow-btn">></button>
        </div>
    </div>
    
    <div class="categories-container">
        <div class="category-card">
            <div class="img-wrapper">
                <img src="images/hate.webp" alt="Action">
            </div>
            <p class="tag">Base Game</p>
            <span class="game-title">I Hate This Place</span>
            <p class="price">₹1,900</p>
        </div>
        
        <div class="category-card">
            <div class="img-wrapper">
                <img src="images/voto.webp" alt="RPG">
            </div>
            <p class="tag">Base Game</p>
            <span class="game-title">1348 Ex-VOTO</span>
            <p class="price">₹1,170</p>
        </div>

        <div class="category-card">
            <div class="img-wrapper">
                <img src="images/sunderfolk.avif" alt="Sunder">
            </div>
            <p class="tag">Base Game</p>
            <span class="game-title">Sunderfolk</span>
            <p class="price">Free</p>
        </div>

        <div class="category-card">
            <div class="img-wrapper">
                <img src="images/docked.avif" alt="docked">
            </div>
            <p class="tag">Base Game</p>
            <span class="game-title">Docked</span>
            <p class="price">₹1,490</p> 
        </div>

        <div class="category-card">
            <div class="img-wrapper">
                <img src="images/EGS_JohnCarpentersToxicCommando.avif" alt="toxic commando">
            </div>
            <p class="tag">Base Game</p>
            <span class="game-title">Toxic Commando</span>
            <p class="price">₹1,490</p>
        </div>
    </div>
</section>

</body>
</html>